
<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_page.css' %}">
    <title>Booking Form</title>
</head>
<body>


    <div class="header-panel">
        <h1>Password</h1>
    </div>
     <div class="secondary-panel">
         <p>Hello user. Change your password bellow</p>

         <a href="{% url 'user_page' %}" class="cancel-btn">Cancel</a>
    </div>
    <div class="login-form">
         
        
        
    
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
                {{ form.as_p }}

            

            <button type="submit" class="btn">Change Password</button>
        </form>
    </div>

            
        
</body>
</html>
